# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd
import numpy as np

csv_url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
data_analysis = pd.read_csv(csv_url)

data_analysis

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Count the number of rows and columns
num_rows = data_analysis.shape[0]
num_cols = data_analysis.shape[1]

print("Number of rows:", num_rows)
print("Number of columns:", num_cols)

Number of rows: 4008
Number of columns: 11

In [3]:
# Determine the data types of each column
data_analysis.dtypes

# the "customer lifetime value" column should be a flot and the "number of open complaints" column should be an integer
# to change the data type of the column "customer lifetime value":
    # data_analysis["customer lifetime value"] = data_analysis["customer lifetime value"].astype(float) 

# to change the data type of the column "number of open complaints":
    # data_analysis["number of open complaints"] = data_analysis["number of open complaints"].astype(int)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [4]:
# Identify the number of unique values for each column and determine which columns appear to be categorical. 
# You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
unique_values = data_analysis.nunique()
print(unique_values)

# ST, GENDER, Education, Policy Type, Vehicle Class -> categorical columns 

#NOTE: above you can see the values of each categorical column!!!

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [5]:
# Compute summary statistics such as mean, median, mode, standard deviation, 
# and quartiles to understand the central tendency and distribution of the data for numerical columns. 
# You should also provide your conclusions based on these summary statistics.

#mean
means = data_analysis.mean(axis=0, numeric_only = True)
print(means)

Income                  39295.701214
Monthly Premium Auto      193.234360
Total Claim Amount        404.986909
dtype: float64

In [6]:
#median
median = data_analysis.median(axis=0, numeric_only = True)
print(median)

Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
dtype: float64

In [7]:
#mode
mode = data_analysis.mode(axis=0, numeric_only = True)
print(mode)

   Income  Monthly Premium Auto  Total Claim Amount
0     0.0                  65.0               321.6

In [8]:
#standard deviation
std = data_analysis.std(axis=0, numeric_only = True)
print(std)

Income                  30469.427060
Monthly Premium Auto     1601.190369
Total Claim Amount        293.027260
dtype: float64

In [9]:
#quartiles -> income
quartiles_income = data_analysis["Income"].quantile([0.25, 0.5, 0.75])
print(quartiles_income)

0.25    14072.0
0.50    36234.0
0.75    64631.0
Name: Income, dtype: float64

In [10]:
#quartiles -> Monthly Premium Auto 
quartiles_mpa = data_analysis["Monthly Premium Auto"].quantile([0.25, 0.5, 0.75])
print(quartiles_mpa)

0.25     68.0
0.50     83.0
0.75    109.5
Name: Monthly Premium Auto, dtype: float64

In [11]:
#quartiles -> Total Claim Amount
quartiles_tca = data_analysis["Total Claim Amount"].quantile([0.25, 0.5, 0.75])
print(quartiles_tca)

0.25    202.157702
0.50    354.729129
0.75    532.800000
Name: Total Claim Amount, dtype: float64

In [12]:
# Compute summary statistics for categorical columns and providing your conclusions based on these statistics.
# ST, GENDER, Education, Policy Type, Vehicle Class -> categorical columns

#ST
st_counts = data_analysis['ST'].value_counts()
print(st_counts)

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [13]:
#ST mode:
st_mode = data_analysis['ST'].mode()
print(st_mode)

0    Oregon
Name: ST, dtype: object

In [14]:
#Gender
gender_counts = data_analysis['GENDER'].value_counts()
print(gender_counts)

F         457
M         413
Male       39
female     28
Femal      17
Name: GENDER, dtype: int64

In [15]:
#Gender mode:
gender_mode = data_analysis['GENDER'].mode()
print(gender_mode)

0    F
Name: GENDER, dtype: object

In [16]:
#Education
education_counts = data_analysis['Education'].value_counts()
print(education_counts)

Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: Education, dtype: int64

In [17]:
#Education mode:
education_mode = data_analysis['Education'].mode()
print(education_mode)

0    Bachelor
Name: Education, dtype: object

In [18]:
#Policy Type
pt_counts = data_analysis['Policy Type'].value_counts()
print(pt_counts)

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [19]:
#Policy Type mode:
pt_mode = data_analysis['Policy Type'].mode()
print(pt_mode)

0    Personal Auto
Name: Policy Type, dtype: object

In [20]:
#Vehicle Class
vc_counts = data_analysis['Vehicle Class'].value_counts()
print(vc_counts)

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: Vehicle Class, dtype: int64

In [21]:
#Vehicle Class mode:
vc_mode = data_analysis['Vehicle Class'].mode()
print(vc_mode)

0    Four-Door Car
Name: Vehicle Class, dtype: object

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [22]:
st_counts = data_analysis['ST'].value_counts()
st_counts

Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: ST, dtype: int64

In [23]:
less_common = st_counts.nsmallest(5) #Return the first n rows ordered by columns in ascending order
less_common

AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: ST, dtype: int64

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [24]:
data_analysis["Total Claim Amount"]

0          2.704934
1       1131.464935
2        566.472247
3        529.881344
4         17.269323
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: Total Claim Amount, Length: 4008, dtype: float64

In [25]:
high_policy_claim_amount = data_analysis["Total Claim Amount"].quantile([0.75])  #top 25% of the total claim amount
high_policy_claim_amount

0.75    532.8
Name: Total Claim Amount, dtype: float64

In [26]:
#DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile

customers_high_policy = data_analysis["Total Claim Amount"] > 532.8
pd.DataFrame(customers_high_policy)

      Total Claim Amount
0                  False
1                   True
2                   True
3                  False
4                  False
...                  ...
4003               False
4004               False
4005               False
4006               False
4007               False

[4008 rows x 1 columns]

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [27]:
#Policy Types
pt_counts = data_analysis['Policy Type'].value_counts()
print(pt_counts)

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [28]:
high_policy = pt_counts.idxmax()
high_policy

'Personal Auto'

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [29]:
personal_auto = data_analysis.loc[data_analysis["Policy Type"] == "Personal Auto"]
personal_auto

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [30]:
#average income for Personal Auto policy
average_income_personal = personal_auto[["Income"]].mean()
average_income_personal

Income    38180.698718
dtype: float64

In [31]:
corporate_auto = data_analysis.loc[data_analysis['Policy Type'] == 'Corporate Auto']
corporate_auto

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
6,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Corporate Auto,Four-Door Car,321.600000
7,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Corporate Auto,Four-Door Car,363.029680
8,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Corporate Auto,Four-Door Car,511.200000
12,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Corporate Auto,Four-Door Car,472.029737
...,...,...,...,...,...,...,...,...,...,...,...
1045,WZ31900,Oregon,F,Bachelor,864970.06%,94389.0,107.0,1/0/00,Corporate Auto,SUV,85.063708
1050,BJ53923,Arizona,M,High School or Below,260027.21%,51978.0,66.0,1/0/00,Corporate Auto,Four-Door Car,144.782152
1052,FB23788,Oregon,M,High School or Below,882883.50%,86721.0,111.0,1/0/00,Corporate Auto,SUV,532.800000
1056,PI47776,Oregon,F,Bachelor,253070.51%,89451.0,63.0,1/0/00,Corporate Auto,Four-Door Car,61.769564
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945

In [32]:
#average income for Corporate Auto policy
average_income_corporate = corporate_auto[["Income"]].mean()
average_income_corporate

Income    41390.311966
dtype: float64

In [33]:
#compare the two policy types:
average_income_personal < average_income_corporate
#the average income for those who have the personal auto type is lower than those who have the corporate auto type.

Income    True
dtype: bool