# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
customer_data_df = pd.read_csv(url)
customer_data_df
customer_data_df.sample(10)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
896,UG79499,Washington,M,Bachelor,1168137.43%,70930.0,99.0,1/0/00,Personal Auto,Four-Door Car,190.434460
1676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
391,IW71076,California,M,Bachelor,501125.92%,75248.0,63.0,1/0/00,Corporate Auto,Four-Door Car,104.454624
2326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
846,SN16059,Cali,F,Master,264144.61%,29305.0,66.0,1/0/00,Personal Auto,Four-Door Car,475.200000
548,KF75098,Arizona,M,Bachelor,512973.90%,86148.0,65.0,1/2/00,Personal Auto,Four-Door Car,312.000000
1854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd


data_types = customer_data_df.dtypes

for column, dtype in data_types.items():
    print(f"Column '{column}' has data type '{dtype}'.")
    
    if dtype == 'object':
        print(f"   This column appears to contain text data.")
    elif dtype == 'int64':
        print(f"   This column appears to contain integer data.")
    elif dtype == 'float64':
        print(f"   This column appears to contain floating-point data.")
    elif dtype == 'datetime64':
        print(f"   This column appears to contain datetime data.")
    else:
        print(f"   This column has an uncommon data type. Review it for correctness.")

Column 'Customer' has data type 'object'.
   This column appears to contain text data.
Column 'ST' has data type 'object'.
   This column appears to contain text data.
Column 'GENDER' has data type 'object'.
   This column appears to contain text data.
Column 'Education' has data type 'object'.
   This column appears to contain text data.
Column 'Customer Lifetime Value' has data type 'object'.
   This column appears to contain text data.
Column 'Income' has data type 'float64'.
   This column appears to contain floating-point data.
Column 'Monthly Premium Auto' has data type 'float64'.
   This column appears to contain floating-point data.
Column 'Number of Open Complaints' has data type 'object'.
   This column appears to contain text data.
Column 'Policy Type' has data type 'object'.
   This column appears to contain text data.
Column 'Vehicle Class' has data type 'object'.
   This column appears to contain text data.
Column 'Total Claim Amount' has data type 'float64'.
   This column appears to contain floating-point data.

In [3]:
import pandas as pd


unique_values_df = customer_data_df.nunique()
print(unique_values_df)

round(customer_data_df.describe(),2)

categorical_columns = round (customer_data_df.describe(include = 'object'),2)
print(categorical_columns)

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64
       Customer      ST GENDER Education Customer Lifetime Value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       Number of Open Complaints    Policy Type  Vehicle Class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576

In [4]:
numerical_columns = customer_data_df.select_dtypes(include=['number'])
numerical_columns

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
4003      NaN                   NaN                 NaN
4004      NaN                   NaN                 NaN
4005      NaN                   NaN                 NaN
4006      NaN                   NaN                 NaN
4007      NaN                   NaN                 NaN

[4008 rows x 3 columns]

In [5]:
mean_values = customer_data_df[['Income', 'Monthly Premium Auto', 'Total Claim Amount']].mean()
mean_values

Income                  39295.701214
Monthly Premium Auto      193.234360
Total Claim Amount        404.986909
dtype: float64

In [6]:
median_values = customer_data_df [['Income', 'Monthly Premium Auto', 'Total Claim Amount']].median()
median_values

Income                  36234.000000
Monthly Premium Auto       83.000000
Total Claim Amount        354.729129
dtype: float64

In [7]:
std_deviation = customer_data_df[['Income', 'Monthly Premium Auto', 'Total Claim Amount']].std()
print (std_deviation)
std_deviation_df =pd.DataFrame(std_deviation)
std_deviation_df.T

Income                  30469.427060
Monthly Premium Auto     1601.190369
Total Claim Amount        293.027260
dtype: float64

        Income  Monthly Premium Auto  Total Claim Amount
0  30469.42706           1601.190369           293.02726

In [8]:
categorical_columns = customer_data_df.select_dtypes(include= ['object'])
categorical_columns

,Customer,ST,GENDER,Education,Customer Lifetime Value,Number of Open Complaints,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,1/0/00,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,1/0/00,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,1/0/00,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,1/0/00,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,1/0/00,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [9]:
import pandas as pd
customer_location = customer_data_df['ST'].value_counts()
print(customer_location)
top_5_less_commen = customer_location.tail(5).sort_values()
print("the top less commen customer locations are : "  , top_5_less_commen)

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64
the top less commen customer locations are :  ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [10]:
Policy_counts = customer_data_df['Policy Type'].value_counts()
print (Policy_counts)
print (" ")
highest_policies = Policy_counts.idxmax()
print (highest_policies)
print(" ")
most_sold_policy = Policy_counts.max
most_sold_policy

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Personal Auto

<bound method NDFrame._add_numeric_operations.<locals>.max of Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64>

In [11]:
selected_columns = customer_data_df.loc [:,['Policy Type', 'Income']]
selected_columns

         Policy Type   Income
0      Personal Auto      0.0
1      Personal Auto      0.0
2      Personal Auto  48767.0
3     Corporate Auto      0.0
4      Personal Auto  36357.0
...              ...      ...
4003             NaN      NaN
4004             NaN      NaN
4005             NaN      NaN
4006             NaN      NaN
4007             NaN      NaN

[4008 rows x 2 columns]

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [12]:
selected_columns = customer_data_df.loc [:,['Policy Type', 'Income']]
selected_columns

         Policy Type   Income
0      Personal Auto      0.0
1      Personal Auto      0.0
2      Personal Auto  48767.0
3     Corporate Auto      0.0
4      Personal Auto  36357.0
...              ...      ...
4003             NaN      NaN
4004             NaN      NaN
4005             NaN      NaN
4006             NaN      NaN
4007             NaN      NaN

[4008 rows x 2 columns]

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here