# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [39]:
import pandas as pd 
import numpy as np

file1 = pd.read_csv('customer.csv')
# print(file1.head())
print(file1.shape)
data_types = file1.dtypes
print("Data types of each column:")
print(data_types)

# Data types are not correct for many columns, for example, LTV and number of open complaints should be a flot or integer 

# Categorical columns are ST, Gender, Education, Customer Lifetime value and Number of opened complaints (but shouldn't), Policy Type, Vehicle Class

(1071, 11)
Data types of each column:
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                         int64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [40]:
file1.isna().sum()

Customer                       0
ST                             0
GENDER                       117
Education                      0
Customer Lifetime Value        3
Income                         0
Monthly Premium Auto           0
Number of Open Complaints      0
Policy Type                    0
Vehicle Class                  0
Total Claim Amount             0
dtype: int64

In [41]:
file1 = file1[file1['Customer Lifetime Value'].isna()==False]

In [43]:
# show % of nulls 
round(file1.isna().sum()/len(file1),4)*100
nulls_df = pd.DataFrame(round(file1.isna().sum()/len(file1),4)*100)
nulls_df
nulls_df = nulls_df.reset_index()
nulls_df
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

                  header_name  percent_nulls
0                    Customer           0.00
1                          ST           0.00
2                      GENDER          10.86
3                   Education           0.00
4     Customer Lifetime Value           0.00
5                      Income           0.00
6        Monthly Premium Auto           0.00
7   Number of Open Complaints           0.00
8                 Policy Type           0.00
9               Vehicle Class           0.00
10         Total Claim Amount           0.00

In [44]:
# cleaning 
file1.to_csv('file1_clean.csv', index=False)

In [45]:
file1_clean = pd.read_csv('file1_clean.csv')

In [46]:
data_types = file1_clean.dtypes

print(data_types)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                         int64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [47]:
#Convert LTV to a float
file1_clean['Customer Lifetime Value'] = file1_clean['Customer Lifetime Value'].str.replace('%', '').astype(float)

In [48]:
# Convert the complaints into a number (float), assuming 1/2/0 = 3 complaints open
def sum_and_convert_to_float(date_string):
    parts = date_string.split('/')
    sum_values = sum(map(int, parts))
    return float(sum_values)
file1_clean['Number of Open Complaints'] = file1_clean['Number of Open Complaints'].apply(sum_and_convert_to_float)

In [49]:
#Get the unique values for Gender
file1_clean["GENDER"].unique()

array(['F', 'M', nan, 'Femal', 'Male', 'female'], dtype=object)

In [50]:
value_mapping = {
    'Femal': 'F',
    'Female': 'F',
    "female": "F",
    'M': 'M',
    'Male': 'M',
    pd.NA: 0,  
    None: 0    
}

file1_clean['GENDER'] = file1_clean['GENDER'].replace(value_mapping)

In [51]:
file1_clean

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,QZ44356,Arizona,F,Bachelor,697953.59,0,94.0,1.0,Personal Auto,Four-Door Car,1131.464935
1,AI49188,Nevada,F,Bachelor,1288743.17,48767,108.0,1.0,Personal Auto,Two-Door Car,566.472247
2,WW63253,California,M,Bachelor,764586.18,0,106.0,1.0,Corporate Auto,SUV,529.881344
3,GA49547,Washington,M,High School or Below,536307.65,36357,68.0,1.0,Personal Auto,Four-Door Car,17.269323
4,OC83172,Oregon,F,Bachelor,825629.78,62902,69.0,1.0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1063,TM65736,Oregon,M,Master,305955.03,38644,78.0,2.0,Personal Auto,Four-Door Car,361.455219
1064,VJ51327,Cali,F,High School or Below,2031499.76,63209,102.0,3.0,Personal Auto,SUV,207.320041
1065,GS98873,Arizona,F,Bachelor,323912.47,16061,88.0,1.0,Personal Auto,Four-Door Car,633.600000
1066,CW49887,California,F,Master,462680.11,79487,114.0,1.0,Special Auto,SUV,547.200000
1067,MY31220,California,F,College,899704.02,54230,112.0,1.0,Personal Auto,Two-Door Car,537.600000

In [52]:
#CLEAN CSV. 2
file1_clean.to_csv('file1_terminator.csv', index=False)

In [53]:
file1_terminator = pd.read_csv('file1_terminator.csv')

In [54]:
unique_value_per_colum = file1_terminator.nunique()

print(unique_value_per_colum)

Customer                     1068
ST                              8
GENDER                          3
Education                       6
Customer Lifetime Value      1027
Income                        772
Monthly Premium Auto          131
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            758
dtype: int64

In [55]:
categorical_columns = file1_terminator.columns[file1_terminator.dtypes == 'object']

for col in categorical_columns:
    unique_values = file1_terminator[col].unique()
    print(f"Unique values for '{col}': {unique_values}")

numerical_columns = file1_terminator.columns[file1_terminator.dtypes != 'object']
numerical_description = file1_terminator[numerical_columns].describe()
print(numerical_description)

Unique values for 'Customer': ['QZ44356' 'AI49188' 'WW63253' ... 'GS98873' 'CW49887' 'MY31220']
Unique values for 'ST': ['Arizona' 'Nevada' 'California' 'Washington' 'Oregon' 'Cali' 'AZ' 'WA']
Unique values for 'GENDER': ['F' 'M' '0']
Unique values for 'Education': ['Bachelor' 'High School or Below' 'College' 'Master' 'Bachelors' 'Doctor']
Unique values for 'Policy Type': ['Personal Auto' 'Corporate Auto' 'Special Auto']
Unique values for 'Vehicle Class': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count             1.068000e+03   1068.000000           1068.000000
mean              7.936903e+05  39315.411985            192.691948
std               6.434784e+05  30484.373979           1603.241719
min               2.004351e+05      0.000000             61.000000
25%               4.034080e+05  14072.000000             68.000000
50%               5.881742e+05  36226.000000             82.500000
75%               8.962872e+05  64668.750000            109.250000
max               5.816655e+06  99960.000000          35354.000000

       Number of Open Complaints  Total Claim Amount
count                1068.000000         1068.000000
mean                    1.395131          405.870113
std                     0.884764          292.917158
min                     1.000000            0.382107
25%                     1.000000          204.071460
50%                     1.000000          355.200000
75%                     1.000000          532.800000
max                     6.000000         2893.239678

In [57]:
categorical_summary = file1_terminator.describe (include = "object")
print(categorical_summary)

       Customer      ST GENDER Education    Policy Type  Vehicle Class
count      1068    1068   1068      1068           1068           1068
unique     1068       8      3         6              3              6
top     QZ44356  Oregon      F  Bachelor  Personal Auto  Four-Door Car
freq          1     320    501       324            777            573

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [ ]:
# Your code here

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [ ]:
# Your code here

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [ ]:
# Your code here