# Lab | Pandas

Objective: practice how to use the pandas library in Python for data analysis and manipulation.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
# Your code here
import pandas as pd
import numpy as np

data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
data.shape
data

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
data.dtypes
# customer lf value - float
# n of open complaints - int? looks like date, unsure whether center number is actual complaints

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [3]:
data.describe(include='all')

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
count,1071,1071,954,1071,1068,1071.000000,1071.000000,1071,1071,1071,1071.000000
unique,1071,8,5,6,1027,NaN,NaN,6,3,6,NaN
top,RB50392,Oregon,F,Bachelor,445811.34%,NaN,NaN,1/0/00,Personal Auto,Four-Door Car,NaN
freq,1,320,457,324,4,NaN,NaN,830,780,576,NaN
mean,NaN,NaN,NaN,NaN,NaN,39295.701214,193.234360,NaN,NaN,NaN,404.986909
std,NaN,NaN,NaN,NaN,NaN,30469.427060,1601.190369,NaN,NaN,NaN,293.027260
min,NaN,NaN,NaN,NaN,NaN,0.000000,61.000000,NaN,NaN,NaN,0.382107
25%,NaN,NaN,NaN,NaN,NaN,14072.000000,68.000000,NaN,NaN,NaN,202.157702
50%,NaN,NaN,NaN,NaN,NaN,36234.000000,83.000000,NaN,NaN,NaN,354.729129
75%,NaN,NaN,NaN,NaN,NaN,64631.000000,109.500000,NaN,NaN,NaN,532.800000
max,NaN,NaN,NaN,NaN,NaN,99960.000000,35354.000000,NaN,NaN,NaN,2893.239678

In [4]:
# clearly Customer Life Time Value is left behin in this calculations because there are inconcistencies in the data as well as Number of open Complaints.
data.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [5]:
data.isna().sum()
# lots of nullified vals in every column, almost all the same amount. I guess they are duplicates, except for Gender.

Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

In [6]:
data['ST'].nunique()

8

In [7]:
# categorical: state, gender, education, policy type, vehicle class

data['ST'].unique()
data['ST'].value_counts(dropna=False)

NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: ST, dtype: int64

In [8]:
# Oregon is the state with more Customers. Arizona is the one with less.
data['ST'].describe()

count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object

In [9]:
data['GENDER'].unique()
data['GENDER'].value_counts(dropna=False)

NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: GENDER, dtype: int64

In [10]:
# There are too many unique values and there are more female customers than males.
data['GENDER'].describe()

count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object

In [11]:
data['GENDER'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4008 entries, 0 to 4007
Series name: GENDER
Non-Null Count  Dtype
--------------  -----
954 non-null    object
dtypes: object(1)
memory usage: 31.4+ KB

In [12]:
data['Education'].unique()
data['Education'].value_counts(dropna=False)

NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: Education, dtype: int64

In [13]:
# Most of the customers are highly educated.
data['Education'].describe()

count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object

In [14]:
# most of the customers hire services for their personal auto.
data['Policy Type'].unique()
data['Policy Type'].value_counts(dropna=False)

NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: Policy Type, dtype: int64

In [15]:
data['Policy Type'].describe()

count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object

In [16]:
data['Vehicle Class'].unique()
data['Vehicle Class'].value_counts(dropna=False)

NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: Vehicle Class, dtype: int64

In [17]:
# most of the customers have a four door car.
data['Vehicle Class'].describe()

count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object

In [18]:
round(data.median(numeric_only=True), 2) #median of numeric columns

Income                  36234.00
Monthly Premium Auto       83.00
Total Claim Amount        354.73
dtype: float64

In [19]:
round(data.mean(numeric_only=True), 2) #mean

Income                  39295.70
Monthly Premium Auto      193.23
Total Claim Amount        404.99
dtype: float64

In [20]:
data.mode(numeric_only=True)

   Income  Monthly Premium Auto  Total Claim Amount
0     0.0                  65.0               321.6

In [21]:
round(data.quantile(q = [0.25,0.5,0.75], axis=0, numeric_only=True), 2)

       Income  Monthly Premium Auto  Total Claim Amount
0.25  14072.0                  68.0              202.16
0.50  36234.0                  83.0              354.73
0.75  64631.0                 109.5              532.80

In [22]:
import statistics as stats

round(data.std(numeric_only=True), 2)

Income                  30469.43
Monthly Premium Auto     1601.19
Total Claim Amount        293.03
dtype: float64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [23]:
# Your code here
less_common_places = pd.DataFrame(data['ST'].value_counts())
less_common_places.iloc[-5:].sort_values(by = 'ST') #sort values in ascending order by default

             ST
AZ           25
WA           30
Washington   81
Nevada       98
Cali        120

### Exercise 2

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [24]:
# Your code here
top_25 = float(data['Total Claim Amount'].quantile(q = [0.75]))
top_25

532.8

In [25]:
# Your code here
bottom_25 = float(data['Total Claim Amount'].quantile(q = [0.25]))
bottom_25

202.157702

In [26]:
low_policy = data.copy()
low_policy = low_policy.loc[low_policy['Total Claim Amount'] < bottom_25]
low_policy

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
15,BW63560,Oregon,NaN,Bachelor,746313.94%,24599.0,64.0,1/1/00,Corporate Auto,Four-Door Car,42.920271
21,QK46697,Washington,M,Bachelors,617710.93%,61040.0,79.0,1/1/00,Personal Auto,Two-Door Car,20.382876
...,...,...,...,...,...,...,...,...,...,...,...
1050,BJ53923,Arizona,M,High School or Below,260027.21%,51978.0,66.0,1/0/00,Corporate Auto,Four-Door Car,144.782152
1051,CZ96653,Oregon,F,Bachelor,853479.28%,47325.0,107.0,1/0/00,Personal Auto,SUV,64.598216
1056,PI47776,Oregon,F,Bachelor,253070.51%,89451.0,63.0,1/0/00,Corporate Auto,Four-Door Car,61.769564
1063,GQ66762,Cali,M,College,477368.64%,33701.0,63.0,1/0/00,Personal Auto,Four-Door Car,171.325856
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869

In [27]:
high_policy = data.copy()
high_policy = high_policy.loc[high_policy['Total Claim Amount'] > top_25]
high_policy

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [28]:
high_policy.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678

In [29]:
low_policy.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    268.000000            268.000000          268.000000
mean   55345.757463            444.138060           92.020713
std    25312.207830           3130.681063           54.926531
min        0.000000             61.000000            0.382107
25%    36650.000000             66.000000           47.917904
50%    54231.000000             72.000000           86.390802
75%    75224.750000             98.250000          138.278755
max    99790.000000          35354.000000          201.455005

In [30]:
#gender count
high_policy['GENDER'].value_counts()

F         115
M         100
Male       16
female      5
Femal       2
Name: GENDER, dtype: int64

In [31]:
#state comparison
high_policy['ST'].value_counts()

Oregon        90
California    65
Arizona       40
Nevada        29
Cali          21
WA            10
AZ             9
Name: ST, dtype: int64

In [32]:
#who is the highest policy customer?
highest_customer = high_policy.loc[high_policy['Total Claim Amount'] == high_policy['Total Claim Amount'].max()]
highest_customer

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
888,BZ65376,Arizona,M,Bachelor,858127.87%,27689.0,239.0,1/2/00,Personal Auto,Luxury SUV,2893.239678

### Exercise 3

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [33]:
max_policies = pd.DataFrame(data['Policy Type'].value_counts())
max_policies

                Policy Type
Personal Auto           780
Corporate Auto          234
Special Auto             57

In [34]:
data['Policy Type'].value_counts()

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: Policy Type, dtype: int64

In [37]:
top_policy = max_policies.idxmax() #getting index of top policy sold
top_policy

Policy Type    Personal Auto
dtype: object

### Exercise 4

The sales team wants to know if customers with Personal Auto have a income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [36]:
# Your code here
persona_auto = data.copy().set_index('Policy Type')
persona_auto = persona_auto.loc[['Personal Auto']]

corp_auto = data.copy().set_index('Policy Type')
corp_auto = corp_auto.loc[['Corporate Auto']]

In [38]:
persona_auto.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Vehicle Class,Total Claim Amount
Policy Type,,,,,,,,,,
Personal Auto,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Four-Door Car,2.704934
Personal Auto,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Four-Door Car,1131.464935
Personal Auto,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Two-Door Car,566.472247
Personal Auto,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Four-Door Car,17.269323
Personal Auto,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Two-Door Car,159.383042

In [40]:
print(round(persona_auto['Income'].mean(),2))

38180.7

In [44]:
corp_auto.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Vehicle Class,Total Claim Amount
Policy Type,,,,,,,,,,
Corporate Auto,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,SUV,529.881344
Corporate Auto,XZ87318,Oregon,F,College,538089.86%,55350.0,67.0,1/0/00,Four-Door Car,321.600000
Corporate Auto,CF85061,Arizona,M,Master,721610.03%,0.0,101.0,1/0/00,Four-Door Car,363.029680
Corporate Auto,DY87989,Oregon,M,Bachelor,2412750.40%,14072.0,71.0,1/0/00,Four-Door Car,511.200000
Corporate Auto,DP39365,California,NaN,Master,879879.70%,77026.0,110.0,1/2/00,Four-Door Car,472.029737

In [41]:
print(round(corp_auto['Income'].mean(),2))

41390.31